* {

}

.circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999;
}

body {
  min-height: 200vh;
  background-color: #161618;
}
